<form action="" method="POST">
  <input type="text" name="link" value="<%= locals.input %>" placeholder="Paste a Youtube Link">
  <button type="submit">Search</button>
</form>
<%- include('./youtube-video') %>
