<html lang="en">
<%- include('partials/head') %>
<body>
  <header>
    <h1>No Man's Sky</h1>
    <section>
      <%- include('partials/youtube-search') %>
    </section>
  </header>
  <main>
  </main>
  <script src="./scripts/script.js"></script>
</body>
</html>