<html lang="en">
<%- include('partials/head', {title: locals.game}) %>
<body>
  <header>
    <nav>
      
    </nav>
    <h1><%= locals.game %></h1>
    <section id="youtube-search">
      <%- include('partials/youtube-search') %>
    </section>
  </header>
  <main>

  </main>
  <script src="./scripts/script.js"></script>
</body>
</html>