<html lang="en">
<%- include('partials/head', {title: 'Not Found'}) %>
<body>
  <header>
    <h1><%= locals.game %></h1>
  </header>
  <main>
    <p>This game could not be found. Try one of these games instead:</p>
    <nav>
      <ol>
        <% for (game of locals.games) { %>
        <li>
          <a href="../<%= game.replace(/ /g, '_') %>"><%= game %></a>
        </li>
        <% } %>
      </ol>
    </nav>
  </main>
  <script src="./scripts/script.js"></script>
</body>
</html>